.collect-block-code {
  margin: 1rem 0;
  border-radius: 0.4rem;
  border: 1px solid #eaeaea;
  overflow: hidden;
}

.collect-block-trigger {
  display: flex;
  padding: 0 1rem;
  height: 2.5rem;
  line-height: 2.5rem;
  align-items: center;
  font-family: tahoma, Menlo, Roboto, RobotoNum, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  justify-content: space-between;
  cursor: pointer;

  .trigger-lt,
  .trigger-rt {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .block-code-lang {
    user-select: none;
    color: #88888888;
  }

  .block-code-name {
    flex: 1;
    margin: 0 10px 0 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .block-code-icon {
    display: list-item;
    height: 24px;
    min-width: 24px;
    padding-left: 2px;
    line-height: 22px;
    text-align: center;

    &::marker {
      margin: 0;
    }
  }

  .copy-code-btn {
    border: 0;
    min-width: 54px;
    height: 24px;
    font-size: 14px;
    padding: 0 10px;
    line-height: 1.5;
    margin-left: 8px;
    background-color: #d4d1d150;
    border-radius: 5px;
    cursor: pointer;
    color: inherit;

    &:hover {
      background-color: #d4d1d1aa;
    }
    &:active {
      background-color: #d4d1d1ff;
    }
  }
}

.collect-block-content {
  display: flex;
  align-items: center;
  margin: 0 1rem 1rem;
}
