.prompt-container:not(.details) .prompt-container-title:not(:only-child) {
  margin-bottom: -0.4rem;
}

.prompt-container.tip,
.prompt-container.danger,
.prompt-container.warning {
  padding: 1px 1rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
}

.prompt-container {
  margin-block: 4px;
  border-radius: 8px;

  .prompt-container-title {
    font-weight: bold;
  }

  & p {
    margin: 1em 0;
  }

  &.tip {
    border-color: var(--color-green-500, #10b98188);
    background-color: #10b98133;
  }

  &.warning {
    border-color: var(--color-yellow-500, #f59e0b88);
    background-color: #f59e0b33;

    .prompt-container-title {
      color: var(--color-yellow-500, #f59e0b);
    }
  }

  &.danger {
    border-color: var(--color-red-500, #ef444488);
    background-color: #ef444433;

    .prompt-container-title {
      color: var(--color-red-500, #ef4444);
    }
  }

  &.details {
    display: block;
    padding: 4px;
    background-color: #6b728033;
    position: relative;

    summary {
      user-select: none;
      font-weight: 500;
      padding: 0.8rem 1rem;
      border-radius: 6px;
      background-color: var(--background, #fff);
      cursor: pointer;

      & > span {
        padding-left: 0.25em;
      }
    }

    .prompt-container-content {
      padding: 10px;

      & > p:first-child {
        margin-top: 0;
      }
      & > p:last-child {
        margin-bottom: 0;
      }
    }

    figure:last-child,
    p:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}
