.noticeboard {
  position: relative;
  margin-block: 4px;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  border: 1px solid;

  &.tip {
    border-color: #6b728033;
    background-color: #6b728033;
  }

  &.warning {
    border-color: #f59e0b33;
    background-color: #f59e0b33;
  }

  &.danger {
    border-color: #ef444433;
    background-color: #ef444433;
  }
}
