.noticeboard {
  position: relative;
  margin: .6rem 0;
  padding: 1rem;
  border-radius: 4px;

  &.tip {
    background: rgba(32, 255, 154, 0.25);
  }

  &.danger {
    background: rgba(255, 137, 153, 0.25);
  }
}
